<!DOCTYPE html>
<html lang="en">
<head>
  <title><%= title %></title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/4.6.1/css/bootstrap.min.css" integrity="sha512-T584yQ/tdRR5QwOpfvDfVQUidzfgc2339Lc8uBDtcp/wYu80d7jwBgAxbyMh0a9YM9F8N3tdErpFI8iaGx6x5g==" crossorigin="anonymous" referrerpolicy="no-referrer" /><script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.2/js/bootstrap.bundle.min.js" integrity="sha512-lAJppLlFlj2g7mb8jrbx34cdZcB24LLIK0N4U0rZtRPoY4oq9uiRXBbigPzGmzN5EXiDn0yMLIBjf0+E/alhXg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script></head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <body>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/4.6.1/js/bootstrap.min.js" integrity="sha512-UR25UO94eTnCVwjbXozyeVd6ZqpaAE9naiEUBK/A+QDbfSTQFhPGj5lOR6d8tsgbBk84Ggb5A3EkjsOgPRPcKA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <div class="wrapper">
      <!-- Sidebar -->
      <nav id="sidebar">
          <div class="sidebar-header">
              <h3>Gestion Vehicule</h3>
          </div>
  
          <ul class="list-unstyled components">
              <p>Liste des pages</p>
              <li class="active">
                  <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Home</a>
                  <ul class="collapse list-unstyled" id="homeSubmenu">
                      <li>
                          <a href="#">Home 1</a>
                      </li>
                      <li>
                          <a href="#">Home 2</a>
                      </li>
                      <li>
                          <a href="#">Home 3</a>
                      </li>
                  </ul>
              </li>
              
              <li>
                  <a href="/">Vehicule</a>
              </li>
              <li>
                  <a href="/tracker/index">Tracker</a>
              </li>
              <li>
                  <a href="/historique">Historique</a>
              </li>
              <li>
                <a href="logout">Logout</a>
            </li>
            <!--<li>
                <form action="/logout?_method=DELETE" method="POST">
                    <button type="submit">LogOut</button></form>
            </li>-->
          </ul>
      </nav>
  
  <div class="container" style="margin-right:17%;">
    
 <div class="container">
  <div class="row" style="padding-bottom: 25px;margin: 0 auto;" style="background-color: #B0C4DE;">
    <div class="col-lg-6 mx-auto mt-4" style="background-color: #B0C4DE;">
      <div class="card shadow" style="background-color: #B0C4DE;">
        <div class="card-header bg-primary" style="background-color: #B0C4DE;">
          <h2 ><%= title %></h2>
        </div>
        </div>
        </div>
        </div>
        <div class="row">
          <div class="mb-3">
            <div class="col-lg-14 mx-auto mt-4">
                <div class="card shadow">
                  <div class="card-body p-4">
            <label for="simNumber">Revenir au Globale:</label>
            <!--////////////////////////////-->
            <a href="/historique" class="btn btn-sm btn-primary">Historique</a>
          </div>
          </div>
          </div>
          </div>
        </div>
  <table style="width: 130%;" class="table table-info table-striped">
    <thead class="table-dark">
      <tr>
        <th>ID</th>
        <th>Vehicule</th>
        <th>date_Debut</th>
        <th>date_Fin</th>
        <th>Tracker</th>
      </tr>
    </thead>
    <tbody>
        <% vehicule.forEach(function(e){ %>
            <tr>
                <td><%= e.id %></td>
                <td><%= e.vehicule %></td>
                <td><%= e.dateDebut %></td>
                <td><%= e.dateFin %></td>
                <td><%= e.tracker %></td>
                
            </tr>
        <% }); %>
    </tbody>
  </table>
  
</div>
<script>
  $(document).ready(function () {

$('#sidebarCollapse').on('click', function () {
    $('#sidebar').toggleClass('active');
});

$('#vehicule').addEventListener('change', function (evt) {
    redirect('/choose/5');
    cinsole.log("ysf");
});


});
</script>
<style>
  .wrapper {
    display: flex;
    align-items: stretch;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
}

#sidebar.active {
    margin-left: -250px;
}
#sidebar {
    min-width: 250px;
    max-width: 250px;
    min-height: 100vh;
}
a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}
@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
}
@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";


body {
    font-family: 'Poppins', sans-serif;
    background: #fafafa;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

#sidebar {
    /* don't forget to add all the previously mentioned styles here too */
    background: #7386D5;
    color: #fff;
    transition: all 0.3s;
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #6d7fcc;
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #47748b;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}
#sidebar ul li a:hover {
    color: #7386D5;
    background: #fff;
}

#sidebar ul li.active > a, a[aria-expanded="true"] {
    color: #fff;
    background: #6d7fcc;
}
ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #6d7fcc;
}
</style>

</body>
</html>