<!DOCTYPE html>
<html lang="en">
<head>
  <title><%= title %></title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body>
  <div class="wrapper">
    <nav id="sidebar">
      <div class="sidebar-header">
          <h3>Gestion Vehicule</h3>
      </div>
  
      <ul class="list-unstyled components">
          <p>Liste des pages</p>
          <li class="active">
              <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Home</a>
              <ul class="collapse list-unstyled" id="homeSubmenu">
                  <li>
                      <a href="#">Home 1</a>
                  </li>
                  <li>
                      <a href="#">Home 2</a>
                  </li>
                  <li>
                      <a href="#">Home 3</a>
                  </li>
              </ul>
          </li>
          
          <li>
            <a href="/">Vehicule</a>
          </li>
          <li>
              <a href="/tracker/index">Tracker</a>
          </li>
          <li>
            <a href="/historique">Historique</a>
          </li>
          <li>
            <a href="logout">Logout</a>
        </li>
        <li>
            <form action="/logout?_method=DELETE" method="POST">
                <button type="submit">LogOut</button></form>
        </li>
      </ul>
  </nav>

<!--<div class="container">
  <h2><%= title %></h2>
  <form action="/update" method="post">
   
    <div class="form-group">
      <label for="id">Id:</label>
      <input type="text" class="form-control" id="email" placeholder="Enter id" value="<%= e.id %>" name="id" required>
    </div>
    <div class="form-group">
      <label for="nom">Nom:</label>
      <input type="text" class="form-control" id="email" placeholder="Enter name" value="<%= e.nom %>" name="nom" required>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>-->

<div class="container">
  <div class="row">
    <div class="col-lg-6 mx-auto mt-4">
      <div class="card shadow">
        <div class="card-header bg-primary">
          <h2><%= title %></h2>
        </div>
        <div class="card-body p-4">
          <form action="/update" method="post">
            <div class="mb-3">
              <label for="id">ID:</label>
              <input type="text" class="form-control" id="id" name="id" value="<%= e.id %>" readonly required>
            </div>
            <div class="mb-3">
              <label for="type">TYPE:</label>
              <input type="text" class="form-control" id="type" placeholder="Enter Type" name="type" value="<%= e.type %>" required>
            </div>
            <div class="mb-3">
              <label for="marque">MARQUE:</label>
              <input type="text" class="form-control" id="marque" placeholder="Enter Type" name="marque" value="<%= e.marque %>" required>
            </div>
            <div class="mb-3">
              <label for="matricule">MATRICULE:</label>
              <input type="text" class="form-control" id="matricule" placeholder="Enter Matricule" name="matricule" value="<%= e.matricule %>" required>
            </div>
            <div class="mb-3">
              <label for="date">DATE_CIRCULATION:</label>
              <input type="date" class="form-control" id="date" placeholder="Enter Date" name="date" value="<%= e.DateMiseCirculation %>" required>
            </div>
            <div class="mb-3">
              <label for="photo">PHOTO:</label>
              <input type="file" class="form-control form-control-lg" id="photo"  name="photo" value="<%= e.photo %>" required>
            </div>
            <div class="mb-3 d-grid">
              <button type="submit" class="btn btn-primary btn-lg">Save</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
<script>
  $(document).ready(function () {

$('#sidebarCollapse').on('click', function () {
    $('#sidebar').toggleClass('active');
});

});
</script>
<style>
  .wrapper {
    display: flex;
    align-items: stretch;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
}

#sidebar.active {
    margin-left: -250px;
}
#sidebar {
    min-width: 250px;
    max-width: 250px;
    min-height: 100vh;
}
a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}
@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
}
@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";


body {
    font-family: 'Poppins', sans-serif;
    background: #fafafa;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

#sidebar {
    /* don't forget to add all the previously mentioned styles here too */
    background: #7386D5;
    color: #fff;
    transition: all 0.3s;
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #6d7fcc;
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #47748b;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}
#sidebar ul li a:hover {
    color: #7386D5;
    background: #fff;
}

#sidebar ul li.active > a, a[aria-expanded="true"] {
    color: #fff;
    background: #6d7fcc;
}
ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #6d7fcc;
}
</style>

</body>
</html>